# ------------------------------------------------
# Required
# ------------------------------------------------

project_id      = ""
mgmt_allow_ips  = ["0.0.0.0/0"]
mgmt_public_ip  = true
region          = "us-west1"
image_name      = "vmseries-flex-bundle2-1126"

# ------------------------------------------------
# Optional
# ------------------------------------------------
subnet_cidr_mgmt = "10.0.0.0/28"
subnet_cidr_data = "10.0.1.0/28"
prefix           = "nsi"
csp_authcodes    = ""
csp_pin_id       = ""
csp_pin_value    = ""
max_firewalls    = 1
min_firewalls    = 1
