.DS_Store
.vscode/
*.log
.terraform.lock.hcl
.terraform
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars
producer/bootstrap_files/panup-all-antivirus-5120-5639
producer/bootstrap_files/panupv2-all-contents-8952-9326
